<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" opened>
    <h2>Filter by</h2>
    <field-appender placeholder="First name" (append)="onAppendInputFilter('firstName')"></field-appender>
    <field-appender placeholder="Last name" (append)="onAppendInputFilter('lastName')"></field-appender>
    <field-appender placeholder="Candidate Status" (append)="onAppendInputFilter('candidateStatus')"></field-appender>
    <field-appender placeholder="University" (append)="onAppendInputFilter('university')"></field-appender>
    <field-appender placeholder="Date Shortlisted to EM-HR" (append)="onAppendInputFilter('shortlistDate')"></field-appender>
  </mat-sidenav>
  <mat-sidenav-content>
    <input-filter-list #inputFilterList></input-filter-list>
  </mat-sidenav-content>
</mat-sidenav-container>
