<mat-sidenav-container class="sidenav">
  <mat-sidenav mode="side" opened>
    <h2>Filter by</h2>
    <field-appender (append)="onAppendInputFilter()"></field-appender>
    <field-appender (append)="onAppendInputFilter()"></field-appender>
    <field-appender (append)="onAppendInputFilter()"></field-appender>
    <field-appender (append)="onAppendInputFilter()"></field-appender>
  </mat-sidenav>
  <mat-sidenav-content>
    <input-filter-list #inputFilterList></input-filter-list>
  </mat-sidenav-content>
</mat-sidenav-container>
