  <div *ngIf="type === 'firstName'" class="row">
    <div class="col">
      <mat-form-field [formGroup]="filterForm" class="full-width">
        <input matInput placeholder="First Name" formControlName="firstName">
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="type === 'lastName'" class="row">
    <div class="col">
      <mat-form-field [formGroup]="filterForm" class="full-width">
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="type === 'candidateStatus'" class="row">
    <div class="col">
      <mat-form-field [formGroup]="filterForm" class="full-width">
        <mat-select placeholder="Candidate Status" formControlName="candidateStatus">
          <mat-option *ngFor="let status of candidateStatuses" [value]="status">
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="type === 'university'" class="row">
    <div class="col">
      <mat-form-field [formGroup]="filterForm" class="full-width">
        <mat-select placeholder="University" formControlName="university">
          <mat-option *ngFor="let university of universities" [value]="university">
            {{ university }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="type === 'shortlistDate'" class="row">
    <div class="col">
      <mat-form-field [formGroup]="filterForm" class="full-width">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="shortlistDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
